<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpB82FB306CE7F00B5A8FE5BAE2E5B8075" Guid="{3358C768-180B-4ED4-B35B-BF930FCBDF9D}">
                <File Id="filA90D5F13C1E1508760D6746CBEFDFB9E" KeyPath="yes" Source="$(var.BasePath)\bass.dll" />
            </Component>
            <Component Id="cmp75A93D41838B465071440D11D1B6BB9A" Guid="{5B87395E-833B-4E4A-8E32-AFAFD927EC13}">
                <File Id="fil9F80672AE8BF524EA8178EC1AA246300" KeyPath="yes" Source="$(var.BasePath)\Bass.Net.dll" />
            </Component>
            <Component Id="cmp8A521B79814CE7E4F2766CD8962F1DD1" Guid="{0989A392-E6D9-4FF9-8B27-A8A115B97476}">
                <File Id="fil75AA0467D02A8147841683226E78A2E3" KeyPath="yes" Source="$(var.BasePath)\basswasapi.dll" />
            </Component>
            <Component Id="cmp73F5E8FBB8791D910527DDD7786C1F56" Guid="{75643BBA-1830-4E73-B173-F407EC37033A}">
                <File Id="filEB8214371A71B894A4EDE52135CFC9A4" KeyPath="yes" Source="$(var.BasePath)\DnsClient.dll" />
            </Component>
            <Component Id="cmpF0E6F98BEE7D7C34ED40CDA5069C4EB5" Guid="{D351E01A-BA49-4D2D-A496-7FBC75F36B6E}">
                <File Id="filD3D9661A6B018D225FD9FACD52D259DC" KeyPath="yes" Source="$(var.BasePath)\ESPRGB-Client.exe" />
            </Component>
            <Component Id="cmp87ECA32ED4B479DDB5E71E3E55BDA1A3" Guid="{0A8EBE7C-6F7E-4DFB-9E14-ECD63E354498}">
                <File Id="filE16498CFE7AD2DE589DE2B45F57BD299" KeyPath="yes" Source="$(var.BasePath)\ESPRGB-Client.exe.config" />
            </Component>
            <Component Id="cmp03BB43E84ED2CCA4963E4550C8F48E05" Guid="{0C81559B-6524-4EC8-A781-53F95A6BC2E9}">
                <File Id="fil1DEC85E81F770C50424434E8F7C42EA2" KeyPath="yes" Source="$(var.BasePath)\ESPRGB-Client.pdb" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{73B3A9FB-C035-421C-BC2F-2878D2740E2C}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpA748C45814948C0E47F0962CF5A9E2C5" Guid="{6BCBE884-8A0B-45C9-8BD7-59365B129146}">
                <File Id="filAF63FF48A59E0E5E7F49BFD1CBBB0CC3" KeyPath="yes" Source="$(var.BasePath)\System.Buffers.dll" />
            </Component>
            <Component Id="cmpB870967352B364EE79BF8B8BFF4C3770" Guid="{668F5F23-0971-4326-871D-39185CAB8898}">
                <File Id="fil128980E61205EAE3EA4C240E996793A3" KeyPath="yes" Source="$(var.BasePath)\Tmds.MDns.dll" />
            </Component>
            <Component Id="cmp6D84B6534D82DD7DF8874D5F488E0108" Guid="{745C9B55-B30B-4057-9A66-E46D694AD5CF}">
                <File Id="fil8C39E3D754ED56F39AA9253AA89F4021" KeyPath="yes" Source="$(var.BasePath)\Zeroit.Framework.Metro.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpB82FB306CE7F00B5A8FE5BAE2E5B8075" />
            <ComponentRef Id="cmp75A93D41838B465071440D11D1B6BB9A" />
            <ComponentRef Id="cmp8A521B79814CE7E4F2766CD8962F1DD1" />
            <ComponentRef Id="cmp73F5E8FBB8791D910527DDD7786C1F56" />
            <ComponentRef Id="cmpF0E6F98BEE7D7C34ED40CDA5069C4EB5" />
            <ComponentRef Id="cmp87ECA32ED4B479DDB5E71E3E55BDA1A3" />
            <ComponentRef Id="cmp03BB43E84ED2CCA4963E4550C8F48E05" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpA748C45814948C0E47F0962CF5A9E2C5" />
            <ComponentRef Id="cmpB870967352B364EE79BF8B8BFF4C3770" />
            <ComponentRef Id="cmp6D84B6534D82DD7DF8874D5F488E0108" />
        </ComponentGroup>
    </Fragment>
</Wix>